# Supabase
DATABASE_URL=""
SUPABASE_URL=""
SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""
SUPABASE_JWT_SECRET=""

# Backup DATABASE_URLs for IPv4 and IPv6 connections
DATABASE_URL_IPV6=""
DATABASE_URL_IPV4=""